# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment files
.env
*.env

venv/

# Ignore media and static files
media/
static/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp
