{% extends "base.html" %}

{% block content %}
  <h1>Cadastro de Parceiro</h1>
  <form class="form-control" method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <div class="row g-3">
      <div class="col-md-6">{{ form.cnpj.label_tag }}{{ form.cnpj }}</div>
      <div class="col-md-6">{{ form.razao_social.label_tag }}{{ form.razao_social }}</div>
      <div class="col-md-6">{{ form.nome_fantasia.label_tag }}{{ form.nome_fantasia }}</div>
      <div class="col-md-6">{{ form.logomarca.label_tag }}<br>{{ form.logomarca }}</div>

    </div>

    <div class="mt-4 p-3 border rounded bg-light">
      <h5 class="mb-3 text-primary">Dados do contato</h5>
      <div class="row g-3">
        <div class="col-md-6">{{ form.contato_nome.label_tag }}{{ form.contato_nome }}</div>
        <div class="col-md-6">{{ form.contato_cargo.label_tag }}{{ form.contato_cargo }}</div>
        <div class="col-md-6">{{ form.contato_telefone.label_tag }}{{ form.contato_telefone }}</div>
        <div class="col-md-6">{{ form.contato_email.label_tag }}{{ form.contato_email }}</div>
        <div class="col-md-6">{{ form.contato_tipo.label_tag }}{{ form.contato_tipo }}</div>
      </div>
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary mt-4">
  </form>
{% endblock %}