{% extends "base.html" %}

{% block content %}
  <h1 class="text-center my-4">Cadastro de Empresa</h1>
  <form class="form-control p-4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Render the current logo -->
    {% if empresa.logomarca %}
      <div class="mb-3 text-center">
        <label class="form-label">Logo:</label><br>
        <img src="{{ empresa.logomarca.url }}" alt="Logo" class="img-thumbnail rounded-circle" style="max-width: 75px; max-height: 75px;">
      </div>
    {% endif %}
    
    {{ form.as_p }}
    
    <div class="text-center mt-4">
      <input type="submit" value="Salvar" class="btn btn-primary">
    </div>
  </form>
{% endblock %}