{% extends "base.html" %}

{% block content %}
  <h1>Lista de Empresas</h1>
  <div class="mb-3">
    <a href="{% url 'cadastro_empresa' %}" class="btn btn-primary">Cadastrar Nova Empresa</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Razão Social</S></th>
        <th>CNPJ</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for empresa in empresas %}
        <tr>
          <td>{{ empresa.cnpj }}</td>
          <td>{{ empresa.razao_social }}</td>
          <td>
            <a href="{% url 'editar_empresa' empresa.id %}" class="btn btn-secondary btn-sm">Editar</a>
            <form action="#" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}