{% extends "base.html" %}

{% block content %}
  <h1 class="text-center my-4">Lista de Clientes e Parceiros</h1>
  <div class="mb-3 text-center">
    <a href="{% url 'cadastrar_cliente_parceiro' %}" class="btn btn-primary">Cadastrar Novo</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo de Relacionamento</th>
        <th>Empresa Base</th>
        <th>Empresa Vinculada</th>
        <th>Nome Referência</th>
        <th>Cargo Referência</th>
        <th>Data Início Parceria</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente_parceiro in clientes_parceiros %}
        <tr>
          <td>{{ cliente_parceiro.id_tipo_relacionamento }}</td>
          <td>{{ cliente_parceiro.id_company_base }}</td>
          <td>{{ cliente_parceiro.id_company_vinculada }}</td>
          <td>{{ cliente_parceiro.nome_referencia }}</td>
          <td>{{ cliente_parceiro.cargo_referencia }}</td>
          <td>{{ cliente_parceiro.data_inicio_parceria }}</td>
          <td>
            {% if cliente_parceiro.ativo %}
              <span class="badge bg-success">Ativo</span>
            {% else %}
              <span class="badge bg-danger">Inativo</span>
            {% endif %}
          </td>
          <td>
            <div class="btn-group" role="group">
              <a href="{% url 'editar_cliente_parceiro' cliente_parceiro.id %}" class="btn btn-sm btn-warning">Editar</a>
              <a href="{% url 'excluir_cliente_parceiro' cliente_parceiro.id %}" class="btn btn-sm btn-danger">Excluir</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
