{% extends 'accounts/dashboard_base.html' %}
{% load static %}

{% block dashboard_type %}Cliente{% endblock %}

{% block header_gradient %}#28a745 0%, #20c997 100%{% endblock %}

{% block header_subtitle_class %}text-black{% endblock %}

{% block header_subtitle %}
<span class="badge bg-light text-success px-2 py-1 rounded-pill fs-8">{{ tipo_acesso }}</span>
<span class="badge bg-light text-success px-2 py-1 rounded-pill fs-8">{{ empresa.nome_fantasia|default:empresa.razao_social }}</span>
{% endblock %}



{% block tipo_acesso_badge_class %}bg-success{% endblock %}
